<%- include('partials/html-start.ejs') %>

<h1>Welcome</h1>

<hr>
<p><%= vehicleData.length %></p>

<p>Owner of Vehicle: <%= vehicleData[0].name %></p>

<p>Make: <%= vehicleData[0].vehicleMake %></p>

<p>Model: <%= vehicleData[0].vehicleModel %></p>

<p>Year: <%= vehicleData[0].vehicleYear %></p>

    <footer> Projecting Results from Database <br>

    <a href="https://github.com/cnorwood10/improved-invention-papa" target="_blank">Source Code</a>

</footer>

<%- include('partials/html-end.ejs') %>