<%- include('partials/html-start.ejs') %>

<h1>Welcome</h1>

<hr>

<p>Name: <%= myView[0].userName %></p>

<p>Enneagram: <%= myView[0].personality %></p>

<p>TV Shows: <%= myView[0].tvShows %></p>


    <footer> Projecting Results from Database <br>

    <a href="https://github.com/cnorwood10/improved-invention-papa" target="_blank">Source Code</a>

</footer>

<%- include('partials/html-end.ejs') %>